*
	margin: 0
	padding: 0
$h: #e1c184
=size($size)
	width: $size
	height: $size
@import "bourbon/bourbon"


=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

//header
header
	height: 450px
	background: url(../new-images/gdyniaprisma.jpg) center center
	background-size: cover 
	font-family: 'lato'

	.logo
		img
			+size(50px)
			float: left
			margin: 10px 0 0 30px

	nav
		float: right
		margin: 30px 30px 0 0

		a
			display: inline-block
			margin-left: 20px
			text-decoration: none

			color: rgba(0,0,0,0.7)
			font:
				weight: 700
				size: 14px
			text-transform: uppercase

			&:hover
				color: rgba(0,0,0,1)

h1
	text-align: center
	font:
		size: 72px
		weight: 700
	color: white
	text-transform: uppercase
	letter-spacing: 0.05em
	margin-bottom: 20px
	clear: both
	padding-top: 100px

	span
		display: inline-block
		padding: 0.2em 0.5em
		border: white solid 10px

.kicker
	text-align: center
	font:
		weight: 700
	text-transform: uppercase
	letter-spacing: 0.05em
	color: white
	line-height: 1

//footer
footer
	background: url(../new-images/gdyniaprisma.jpg)
	background-size: cover

	.lockup
		padding: 50px 30px
		+clearfix

		.logoFooter
			img
				+size(50px)
				float: left
				margin-right: 30px

		.content-wrap
			float: left

			.copywrights
				margin: 0
				text-transform: uppercase
				font-size: 12px
				font-family: 'lato'
				color: rgba(0,0,0,0.4)
				
			a
				font-size: 14px
				font-weight: 700
				text-transform: uppercase
				font-family: 'lato'
				text-decoration: none
				color: rgba(0,0,0,0.5)
				display: inline-block
				margin-right: 30px
				&:hover
					color: rgba(0,0,0,0.7)

//o mnie
.aboutMe
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	font-family: 'lato'
	text-decoration: none
	color: #e1c184
	text-align: center
	padding: 100px 0 30px

.face-lockup
	max-width: 789px
	+display(flex)
	margin: 0 auto
	align-items: center
	justify-content: space-between

	.face-img
		+size(200px)
		order: 3
		background: url(../new-images/face.jpg) center center
		
.icon-html
	order: 1
	+border-radius(50%)
	img
		+size(100px)
		
.icon-css
	order: 2
	+border-radius(50%)
	img
		+size(100px)

.icon-javascript
	order: 4
	+border-radius(50%)
	img
		+size(100px)

.icon-api
	order: 5
	+border-radius(50%)
	img
		+size(100px)

@media screen and (max-width: 650px)
	.face-lockup
		display: block
		text-align: center
		div
			display: inline-block
		.face-img
			display: block
			background-position: center center
			background-repeat:  no-repeat
			width: auto
			margin-bottom: 30px

		[class^='icon-']
			margin: 10px

.blurb
	max-width: 620px
	padding: 0 15px
	margin: 50px auto
	font-size: 24px
	font-family: 'Open sans'
	text-align: center
	font-weight: 300

.skill-lockup
	max-width: 700px
	margin: 100px auto
	font-family: 'open sans'
	color: #999999
	+clearfix

	.skill-unit
		width: 350px
		float: left

	.skill-icons
		font-size: 0
		margin-bottom: 30px
		margin: 0px 0 30px

		span
			display: inline-block
			+size(14px)
			background-color: #e1c184
			margin-right: 2px
			+border-radius(50%)

			&:after
				content: ''
				display: block
				+size(10px)
				background-color: #ffffff
				+border-radius(50%)
				margin: 2px

		//&.skill-8 span:nth-child(n+9)

		@for $i from 1 through 10
			&.skill-#{$i} span:nth-child(n+#{$i})
				background-color:  #999999

@media screen and (max-width: 541px)
	.skill-lockup
		width: 270px


.alt-section
	background-color: #e5eaee
	font-family: 'open sans'
	a
		text-decoration: none

.section-work
	overflow-x: hidden


.thumb-wrap
	width: 50%
	margin: 0 auto
	float: left
	padding-bottom: 150px


.work-wrap
	width: 50%
	margin: 0 auto
	float: left
	display: block

.work-belt
	width: 200%
	position: relative
	left: 0%
	+transition(all 800ms)




.thumb-container
	display: block
	max-width: 960px
	margin: 0 auto

	+clearfix

	.thumb-unit
		position: relative
		display: block
		float: left
		width: 25%
		padding-top: 16%
		overflow: hidden
		img
			display: block
			max-width: 100%



		@media screen and (max-width: 760px)
			width: 50%
			padding-top: 26%

		//background-image: url(../new-images/proj/bootstrap.png)
		background-position: center center
		background-repeat: no-repeat
		background-size: cover

		.thumb-overlay
			+position(absolute)
			height: 100%
			width: 100%
			background: fade-out($h, 0.1)
			text-align: center
			+transition
			+display(flex)
			+align-items(center)
			+justify-content(space-between)
			+transform(rotateX(90deg))
			+transform-origin(center bottom)
			opacity: 0

			strong
				display: block
				padding: 0 20px
				color: white
				font-weight: 300
				text-transform: uppercase
				font-size: 24px
				line-height: 1.2

		&:hover .thumb-overlay
			top: 0%
			+transform(rotateX(0deg))
			opacity: 1

.proj
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	font-family: 'lato'
	text-decoration: none
	color: #e1c184
	text-align: center
	padding: 100px 0 30px


.work-container
	max-width: 600px
	margin: 0 auto
	padding: 0 15px
	display: none

	
	

	h4
		color: #e1c184
		font-weight: 300
		text-transform: uppercase
		font-size: 24px
		line-height: 1.2
		margin: 0 0 20px


	img
		max-width: 100%
		margin-bottom: 20px

	.work-return
		img
			+size(40px)
			cursor: pointer
			opacity: 0.5
			position: absolute
			top: -57px


			path
				fill: rgba(0,0,0,0.4)

			&:hover
				opacity: 1



.loader 
  color: #ffffff
  font-size: 90px
  text-indent: -9999em
  overflow: hidden
  width: 1em
  height: 1em
  border-radius: 50%
  margin: 72px auto
  position: relative
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease
  animation: load6 1.7s infinite ease, round 1.7s infinite ease

@-webkit-keyframes load6 
  0% 
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  
  5%,
  95% 
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  
  10%,
  59% 
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em
  
  20% 
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em
  
  38% 
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em
  
  100% 
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  

@keyframes load6 
  0% 
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  
  5%,
  95% 
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  
  10%,
  59% 
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em
  
  20% 
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em
  
  38% 
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em
  
  100% 
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  

@-webkit-keyframes round 
  0% 
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
  

@keyframes round 
  0% 
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
  

//link button

.pulse-button 
  position: relative
  top: 50%
  left: 50%
  margin-left: -50px
  margin-top: -50px
  display: block
  width: 100px
  height: 100px
  font-size: 1.3em
  font-weight: light
  font-family: 'Trebuchet MS', sans-serif
  text-transform: uppercase
  text-align: center
  line-height: 100px
  letter-spacing: -1px
  color: white
  border: none
  border-radius: 50%
  background: #5a99d4
  cursor: pointer
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5)
  -webkit-animation: pulse 1.5s infinite
  margin-top: 20px
  margin-bottom: 40px

.pulse-button:hover 
  -webkit-animation: none


@-webkit-keyframes pulse 
  0% 
    @include transform(scale(.9))
  
  70% 
    @include transform(scale(1))
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0)
  
  100% 
    @include transform(scale(.9))
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0)
  





//Work section bootstrap

.bootstrap
	+display(flex)
	flex-direction: column
	justify-content: center
	-webkit-perspective: 1000
    -webkit-backface-visibility: hidden

	img
		margin: 25px

	p
		text-align: center

